body {
    background-image: url('file:///home/mehulagarwal/go/src/github.com/MehulAgarwal07/Register-Login/Frontend/Resources/Login.png');
  }

h1 {
    margin-left: 200px;
    margin-top: 150px;
    font-family: monospace;
    font-size: 40px;
    color: #0349FF;
}

h3 {
    margin-left: 200px;
    font-family: monospace;
    font-size: 25px;
    color: #0349FF;
    font-weight: 900;
}

#uname {
    margin-left: 1300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 140px;
    padding-left: 15px;
    margin-top: 20px;
    border: 4px solid #ABFAFF;
    border-radius: 4px;
    background-color: black;
    color: #ABFAFF;
    font-size: 15px;
    font-weight: bold;
}

#un {
    margin-left: 1300px;
    font-family: monospace;
    font-size: 25px;
    color: #ABFAFF;
    font-weight: bolder;
    
}

#pword {
    margin-left: 1300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 140px;
    padding-left: 15px;
    margin-top: 20px;
    border: 4px solid #ABFAFF;
    border-radius: 4px;
    background-color: black;
    color: #ABFAFF;
    font-size: 15px;
    font-weight: bold;
}

#pw {
    margin-left: 1300px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 25px;
    color: #ABFAFF;
    font-weight: bolder;
}

#sub {
    margin-left: 1415px;
    margin-top: 30px;
    background-color: #ABFAFF;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    font-size: 15px;
    color: black;
    font-weight: bold;
}